* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Norse Bold; 
  src: url(font/Norsebold.otf); 
}

body,
main {
    height: 100vh;
}

.main {
    display: flex;
    background-color: white;
}

.logo_section {
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-image:url(img/andrei-r-popescu-mmaOKxzGXeA-unsplash.jpg) ;
    background-size: cover;
    background-position: center;
}

.logo_section p {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo_section a{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.logo_box {
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.logo_box img {
    width: 20%;
}

.logo_box p {
    font-size:120px;
    font-family: Norse Bold;
}

.credits {
    position: absolute;
    bottom: 0;
    padding: 15px;
    align-self: center;
}

.sign_up_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
}

.intro,.sign_up,.button_confirm{
      padding: 40px;
}


.intro p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 600;
    width:800px;
}

.sign_up {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) ;
}

.sign_up p{
    font-size: 25px;
    font-weight: 600;
}

.form_box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 100px;
    width: 70%;
}

.form_box label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input_type {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap:10px;
}

.input_type input {
    width: 100%;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style:groove;
}

.button_confirm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.button_confirm button {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    background-color: #596D48;
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) 
}

.button_confirm a{
    color: #596D48;
    text-decoration: none;
}